:host {
	display: flex;
	justify-content: center;
    align-items: center;
	width: 15px;
}
:host(.ng-left) {
	margin-right: 2px;
}
:host(.ng-right) {
	margin-left: 2px;
}
input {
	flex-shrink: 0;
	width: 14px;
	height: 14px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: 1px solid dimgray;
	outline: 0;
	margin-top: 0;
	margin-bottom: 0;
	background-image: unset;
}
input:checked {
	background-image: url('data:image/svg+xml;utf8,<svg height="14" width="14" xmlns="http://www.w3.org/2000/svg"><polyline points="2.5,7 6,10 11,3" style="fill:none;stroke:dimgray;stroke-width:2" /></svg>');
}
input:disabled {
	opacity: 0.3;
}