:host {
	height: 100%;
	width: calc(100% - 8px);
	display: flex;
	align-items: center;
	margin-left: 4px;
	margin-right: 4px;
}

:host(.invalid)::after {
	content: '';
	margin-left: 4px;
    width: 16px;
    height: 16px;
	border: none;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="fill: none; stroke-width: 2px; stroke: darkgoldenrod;" viewBox="0 0 16 16"><path d="m8 1 7 14H1L8 1z"></path><path d="M7.99 12H8v.01h-.01zM8 6v4"></path></svg>');
}

input {
	flex-shrink: 0;
	width: 14px;
	height: 14px;
	padding: 0;
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: 1px solid dimgray;
	border-radius: 50%;
	outline: 0;
}
input:checked {
	background-image: url('data:image/svg+xml;utf8,<svg height="14" width="14" xmlns="http://www.w3.org/2000/svg"><circle r="3" cx="50%" cy="50%" fill="dimgray" /></svg>');
}

label {
	display: flex;
	align-items: center;
	--margin-left: 4px;
	margin-right: 4px;
}
label.disabled {
    pointer-events: none;
    opacity: 0.5;
}

span {
	margin-left: 4px;
}

div.ng-wrap {
	display: flex;
	align-items: center;
	width: 100%;
}